:root {
  --menu-speed: 0.75s;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  /* width: 100%; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.3em;
  margin: 10px 0;
}

section {
  padding-top: 3.5em;
}

h1,
h2 {
  font-family: 'Press Start 2P', cursive;
  color: var(--primary-color);
}

h1,
h2,
a {
  font-weight: 300;
  line-height: 1.2;
}

i {
  color: var(--text-color);
}

footer {
  height: 25vh;
  background: var(--background-color-1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

::selection {
  color: var(--text-color);
  background: var(--highlight);
}

.bg-1 {
  background-color: var(--background-color-1);
  height: 100vh;
  width: 100%;
}

.bg-2 {
  background-color: var(--background-color-2);
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
}

.navbar.top {
  /* background: green; */
  background: transparent;
}

.navbar a {
  color: var(--primary-color);
  /* font-size: 1.5em; */
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 0 5px;
  font-family: 'Press Start 2P', cursive;
  /* border: 1px solid blue; */
}

.navbar a:hover {
  border-bottom: var(--text-color) 2px solid;
}

.navbar .logo:hover {
  border-bottom: none;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.toggler {
  visibility: hidden;
}

.hero {
  position: relative;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 1.5em;
}

.header-content * {
  margin-bottom: 2rem;
}

.header-content h1 {
  opacity: 0.5;
}

.main-white-text {
  color: var(--text-color);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 45vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* padding: 20 50; */
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  padding: 0 1.5em;
}

.whole-page {
  display: flex;
  flex-direction: column;
}

.skills-wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.5em;
}

.column h2 {
  padding: 2em 0;
}

.profile-pic {
  border-radius: 50%;
}

.iconbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1em;
  width: 6em;
  height: 6em;
}

.iconbox > img {
  background-color: var(--text-color);
  width: 4em;
  height: 4em;
  border-radius: 3em;
  /* margin-top: 1em; */
}

/* .iconbox > * {
  padding: 0.3em 0.3em;
} */

.contact-form {
  /* border: 1px solid white; */
  max-width: 800px;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.callback-form {
  width: 100%;
}

.callback-form label {
  display: block;
  margin-bottom: 1em;
}

.callback-form .form-control {
  margin-bottom: 1em;
}

.callback-form input,
textarea {
  width: 100%;
}

.callback-form input {
  height: 2em;
}

.callback-form textarea {
  height: 10em;
  resize: none;
}

.contact-form .btn,
input,
textarea {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2em;
}
.contact-form .btn {
  background: var(--button-bgcol);
  color: var(--highlight);
  cursor: pointer;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
